<h1>comment</h1>


    <li class="titleBar">
      <h1>{{title}}</h1>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>


   
<form>
 <input type="hidden">
  
  <input class = "updateThought" name="text" type="text" placeholder="New Text" value="{{tought.text}}">
  <button class = "updateButtom" updateThought-id="{{id}}" type="submit">Submit</button>
</form>


<script src="/js/comment.js"> </script>