<h1>Dashboard</h1>

<!-- Form to add a new thought -->
<form action="/thought" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="text" type="text" placeholder="Share your thought">
  <button type="submit">Save</button>
</form>

<main class="thoughts">
  {{#each thoughts}}
    <div class="thought">
      <h3>{{title}}</h3>
      <p>{{text}}</p>
     
    </div>
  {{/each}}
</main>
