<h1>The Tech Blog</h1>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
  {{#each thoughts}}
    <li class="titleBar">
      <p>{{title}}</p>
      <p>Post By: {{user.username}}</p>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>
    <a href="/edit/{{this.id}}">Edit Post</a>
  {{/each}}
</ul>