body {
    padding: 5%;
    font-family: sans-serif;
    background-color: rgb(78, 45, 45);
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  nav p {
    margin: 0 20px;
  }
  h3 {
    color: white;
    padding: 4px;
  }
  h1{
    color: black;
    background-color: #efe2e2;
    /* width: 230px; */
    text-align-last: center;
  }
  .titleBar h1 {
    color: white;
    font-size: 20px;
    background-color: transparent;
  }
  nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #efe2e2;
    color: white;
  }
  
  nav a:not(:last-child) {
    margin-right: 15px;
  }
  
  nav a:hover, nav a.active {
    background-color: #333;
    color: #fff;
  }
  
  form {
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  form > * {
    padding: 7px 10px;
    margin: 3px 0;
  }
  
  form h1 {
    text-align: center;
  }
  ul {
    background-color:#efe2e2 ;
    height: 600px;

  }
 
  ul li {
    display: flex;
  }
  
  ul li p {
    margin: 4px;
    text-align: right;

  }
  .thoughts {
    background-color: #efe2e2 ;
  }

  .thoughts h3 {
    background-color: rgb(78, 45, 45);
    color: white;
    padding: 10px;
    border: 2px solid #efe2e2;
  }
  .thoughts p {
  
    padding: 10px;
  }

  .thoughts a {
    background-color: rgb(78, 45, 45);
    color: white;
    padding: 10px;
    border: 2px solid #efe2e2;
    display: block;
  
  }
  .titleBar {

    
    background-color:rgb(78, 45, 45);
    border: 2px solid #efe2e2;
    gap : 350px;
    height: 40px;
    padding: 15px;
    color: white;
  
  }
  .textBar {

    border: 2px solid #efe2e2;
    background-color: #efe2e2;
    color: black;
    gap : 350px;
    height: 40px;
    padding: 20px;
   
  
  }
  .black-text:hover {
    color: white;
    background-color: rgb(78, 45, 45); 
  
  }
  ul {
    display: initial !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
ul {
  list-style-type: none;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums
}
li {
  list-style: none;
  unicode-bidi: isolate !important;
  font-variant-numeric: tabular-nums !important
}
a {
    color: #007bff; 
    text-decoration: none; 
    display: block;
    text-align: center;
}

p {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
