body {
    padding: 5%;
    font-family: sans-serif;
    background-color: rgb(78, 45, 45);
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  nav p {
    margin: 0 20px;
  }
  h3 {
    color: white;
  }
  h1{
    color: black;
    background-color: #efe2e2;
    width: 230px;
  }
  nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #efe2e2;
    color: white;
  }
  
  nav a:not(:last-child) {
    margin-right: 15px;
  }
  
  nav a:hover, nav a.active {
    background-color: #333;
    color: #fff;
  }
  
  form {
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  form > * {
    padding: 7px 10px;
    margin: 3px 0;
  }
  
  form h1 {
    text-align: center;
  }
  ul {
    background-color:#efe2e2 ;
    height: 600px;

  }
 
  ul li {
    display: flex;
  }
  
  ul li p {
    margin: 4px;
  }
  .thoughts {
    background-color: #efe2e2 ;
  }

  .thoughts h3 {
    background-color: rgb(78, 45, 45);
    color: white;
    padding: 10px;
    border: 2px solid #efe2e2;
  }
  .thoughts p {
  
    padding: 10px;
  }

  .thoughts a {
    background-color: rgb(78, 45, 45);
    color: white;
    padding: 10px;
    border: 2px solid #efe2e2;
    display: block;
  
  }
  .titleBar {

    background-color:rgb(78, 45, 45);
    border: 2px solid #efe2e2;
    gap : 350px;
    height: 40px;
    padding: 15px;
    color: white;
  
  }
  .textBar {

   border: 2px solid rgb(78, 45, 45);
  color: black;
    gap : 350px;
    height: 40px;
    padding: 20px;
  
  }